// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #14B8C4;
  --ion-color-primary-rgb: 20,184,196;
  --ion-color-primary-contrast: #ffffff;
}